{% extends "base.html" %}
{% load static %}

{% block title %} 
Create Post
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/create-post.css' %}"/>
{% endblock %}

{% block content %}
    <section>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-control {% if field.errors %}errors{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            <button type="submit">Send</button>
        </form>
    </section>
{% endblock %}

